@font-face {
  font-family: "iconfont"; /* Project id 4442554 */
  src: url('iconfont.woff2?t=1708674910388') format('woff2'),
       url('iconfont.woff?t=1708674910388') format('woff'),
       url('iconfont.ttf?t=1708674910388') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chuangxiangzhizunvip:before {
  content: "\e600";
}

.icon-chuangxiangqingtongvip:before {
  content: "\e601";
}

.icon-chuangxiangbaiyinvip:before {
  content: "\e602";
}

.icon-chuangxianghuangjinvip:before {
  content: "\e603";
}

.icon-chuangxiangzijinvip:before {
  content: "\e604";
}

.icon-chuangxiangzuanshivip:before {
  content: "\e605";
}

